openapi: 3.1.0
info:
  title: Neurocipher Data Pipeline API
  version: "1.0.0"
  description: >
    REST interface for ingest, query, admin, and security-action operations.
    All business endpoints (excluding `/health`) require `Tenant-Id`, `Correlation-Id`, and authenticated callers.
    JWT (OIDC) is the primary entry point while SigV4 is only a limited service-to-service fallback.
    Error responses follow docs/api-ops/API-Error-Catalog.md.
servers:
  - url: https://api.neurocipher.io/v1
    description: Production
  - url: https://stg-api.neurocipher.io/v1
    description: Staging
  - url: http://localhost:8000/v1
    description: Local development
tags:
  - name: ingest
    description: Ingestion endpoints for raw events and documents.
  - name: query
    description: Query endpoints for searching normalized content.
  - name: admin
    description: Administrative endpoints for reindexing and maintenance.
  - name: security
    description: Security Engine integration endpoints for actions and status.
  - name: health
    description: Liveness and dependency health checks.
components:
  securitySchemes:
    SigV4Auth:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 signed request
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    TenantId:
      name: Tenant-Id
      in: header
      required: true
      schema:
        type: string
      description: Logical tenant identifier (ULID)
    CorrelationId:
      name: Correlation-Id
      in: header
      required: false
      schema:
        type: string
      description: ULID; generated by the API if absent
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
      description: >
        Required for all mutating requests; ULID or UUID v4.
        The key is scoped to the tenant, API route, and payload fingerprint.
        It is stored for 24 hours and tied to the conflict semantics in docs/api-ops/API-001-Edge-and-Gateway-Architecture.md
        and docs/api-ops/API-Error-Catalog.md.
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
      description: >
        Number of items to return in paged list responses; defaults to 50 and cannot exceed 200.
        Pass the value back with each page to keep the page size stable.
    NextCursor:
      name: next_cursor
      in: query
      required: false
      schema:
        type: string
      description: Opaque cursor from the prior page response; omit or null to fetch the first page.
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            correlation_id:
              type: string
            details:
              type: object
          required:
            - code
            - message
    PaginationMetadata:
      type: object
      properties:
        page_size:
          type: integer
          description: Page size requested via the `page_size` query parameter.
          minimum: 1
          maximum: 200
        next_cursor:
          type: string
          nullable: true
          description: Opaque cursor for the next page.
        has_more:
          type: boolean
          description: True when more pages exist after this cursor.
      required:
        - page_size
    IngestRequest:
      type: object
      required:
        - source
        - content_type
        - data
      properties:
        source:
          type: string
        content_type:
          type: string
        data:
          type: string
          description: Base64 blob or JSON string
        metadata:
          type: object
          additionalProperties: true
    IngestResponse:
      type: object
      properties:
        event_id:
          type: string
        status:
          type: string
          enum: [accepted, queued]
    QueryResponse:
      type: object
      properties:
        query:
          type: string
        top_k:
          type: integer
        mode:
          type: string
          enum: [hybrid, vector, keyword]
        results:
          type: array
          items:
            type: object
            properties:
              doc_id:
                type: string
              score:
                type: number
              title:
                type: string
              snippet:
                type: string
            metadata:
              type: object
              additionalProperties: true
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
        next_cursor:
          type: string
          nullable: true
          description: Legacy shortcut for `pagination.next_cursor`; prefer the pagination block.
    ReindexRequest:
      type: object
      properties:
        entity_type:
          type: string
        date_range:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, failed]
        components:
          type: object
          additionalProperties:
            type: string
    SecurityAction:
      type: object
      required:
        - action_id
        - schema_urn
        - payload
      properties:
        schema_urn:
          type: string
          enum:
            - urn:nc:schema:security:command:cmd.security.quarantine.v1
            - urn:nc:schema:security:command:cmd.security.ticket.create.v1
            - urn:nc:schema:security:command:cmd.security.notify.v1
        action_id:
          type: string
        payload:
          type: object
        ttl_seconds:
          type: integer
          minimum: 60
    SecurityActionResponse:
      type: object
      properties:
        action_id:
          type: string
        status:
          type: string
          enum: [accepted, duplicate]
        status_url:
          type: string
    SecurityActionStatus:
      type: object
      properties:
        action_id:
          type: string
        status_id:
          type: string
        status:
          type: string
          enum: [queued, running, succeeded, failed]
        retriable:
          type: boolean
        observed_at:
          type: string
          format: date-time
        details:
          type: object
  examples:
    IngestExample:
      summary: Example ingest document
      value:
        source: webhook.crm
        content_type: application/json
        data: eyJuYW1lIjoiSmFuZSJ9
        metadata:
          checksum: sha256:abc123
          received_at: 2025-01-20T12:40:00Z
    QueryExample:
      summary: Hybrid query
      value:
        query: "privileged access policy"
        top_k: 5
        mode: hybrid
        results:
          - doc_id: "doc_123"
            score: 0.92
            title: "Privileged access baseline policy"
            snippet: "All privileged accounts must follow baseline controls."
            metadata:
              source: "policy-repo"
              tenant_id: "tn_01HZY3"
        pagination:
          page_size: 50
          next_cursor: "opaque-cursor-token-01"
          has_more: true
        next_cursor: "opaque-cursor-token-01"
    ErrorRateLimitedExample:
      summary: Rate limit exceeded error
      value:
        error:
          code: "RATE_LIMITED"
          message: "Rate limit exceeded. Try again after reset."
          correlation_id: "01J9Z4Q7A6M8T1N9ZK7N1A2B3C"
          details:
            retry_after_seconds: 60
  responses:
    InvalidRequest:
      description: Schema or semantic validation failure; see docs/api-ops/API-Error-Catalog.md for code semantics.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthenticated:
      description: Missing or invalid credentials; API-Error-Catalog code `UNAUTHENTICATED`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Scope, policy, or tenant access denied; API-Error-Catalog code `UNAUTHORIZED`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource under the tenant was not found; API-Error-Catalog code `RESOURCE_NOT_FOUND`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Idempotency conflict or duplicate resource; API-Error-Catalog code `CONFLICT`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate or quota exceeded; API-Error-Catalog code `RATE_LIMITED`.
      headers:
        Retry-After:
          description: Seconds until the next retry window opens.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            default:
              $ref: '#/components/examples/ErrorRateLimitedExample'
    ServerError:
      description: Unhandled service error; API-Error-Catalog code `INTERNAL`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unavailable:
      description: Brownout or dependency outage; API-Error-Catalog code `UNAVAILABLE`.
      headers:
        Retry-After:
          description: Seconds until the service is expected to recover.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
paths:
  /ingest/event:
    post:
      summary: Ingest new event or document
      description: Ingests a new raw event or document into the Neurocipher data pipeline for normalization, enrichment, and downstream embedding.
      tags: [ingest]
      operationId: ingestEvent
      security:
        - BearerAuth: []
        - SigV4Auth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/NextCursor'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestRequest'
            examples:
              default:
                $ref: '#/components/examples/IngestExample'
      responses:
        "202":
          description: Event accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResponse'
        "400":
          $ref: '#/components/responses/InvalidRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/RateLimited'
        "500":
          $ref: '#/components/responses/ServerError'
  /query:
    get:
      summary: Search normalized documents
      description: Performs hybrid vector and keyword search over normalized documents, applying relevance fusion and optional filters.
      tags: [query]
      operationId: queryDocuments
      security:
        - BearerAuth: []
        - SigV4Auth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/CorrelationId'
        - in: query
          name: q
          required: true
          schema:
            type: string
        - in: query
          name: filters
          schema:
            type: string
          description: JSON encoded filter expression
        - in: query
          name: top_k
          schema:
            type: integer
            default: 10
        - in: query
          name: mode
          schema:
            type: string
            enum: [hybrid, vector, keyword]
            default: hybrid
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
              examples:
                default:
                  $ref: '#/components/examples/QueryExample'
        "400":
          $ref: '#/components/responses/InvalidRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "403":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/RateLimited'
        "500":
          $ref: '#/components/responses/ServerError'
  /admin/reindex:
    post:
      summary: Reindex normalized documents
      description: Schedules a reindex job over normalized documents for maintenance, backfill, or recovery scenarios.
      tags: [admin]
      operationId: adminReindex
      security:
        - SigV4Auth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReindexRequest'
      responses:
        "202":
          description: Reindex job accepted
        "403":
          $ref: '#/components/responses/Unauthorized'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/RateLimited'
        "500":
          $ref: '#/components/responses/ServerError'
  /security/actions:
    post:
      summary: Submit security action command
      description: Submits a security action command to the Security Engine, such as quarantine, ticket creation, or notification.
      tags: [security]
      operationId: createSecurityAction
      security:
        - SigV4Auth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityAction'
      responses:
        "202":
          description: Command accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityActionResponse'
        "400":
          $ref: '#/components/responses/InvalidRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "403":
          $ref: '#/components/responses/Unauthorized'
        "409":
          description: Duplicate action_id detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityActionResponse'
        "429":
          $ref: '#/components/responses/RateLimited'
        "500":
          $ref: '#/components/responses/ServerError'
  /security/actions/{id}:
    get:
      summary: Fetch security action status
      description: Retrieves the latest status of a previously submitted security action command.
      tags: [security]
      operationId: getSecurityAction
      security:
        - SigV4Auth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Action status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityActionStatus'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "403":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
  /health:
    get:
      summary: Health and dependency check
      description: Returns liveness and dependency health status for the Neurocipher data pipeline API.
      tags: [health]
      operationId: healthCheck
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "500":
          $ref: '#/components/responses/ServerError'
        "503":
          $ref: '#/components/responses/Unavailable'
